body{background-color: lightcyan; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
h1{color: gray;text-align: center; margin-bottom: 5px;}
.para{color: gray; font-size: small;text-align: center;margin-top: 0%;}
h2{color: black;text-align: center;margin-top:20px ;margin-bottom: 20px;}
p{color: black;text-align: left;font-size: 15px;margin-top: 20px;margin-bottom: 20px;}
.christmasimage{width: 300px; height: auto;border-radius: 10px;display: block;margin: auto;}
.buttonlink{background-color: aquamarine; color: white;border: 5px;padding: 10px; font-size: 10px;cursor: auto; border-radius: 5px;}
.buttonlink:hover{background-color: black;}
.form-column{display: flex; flex-direction: column;gap: 20px;width: 300px;height: 20px ;}
.Submit{background-color: blue;color: white;border-radius: 10px;border: 5px;font-size: 15px;cursor: auto;padding: 5px;position: fixed;bottom: 20px;}
.Submit:hover{background-color: aqua;}
header nav main aside footer{padding: 20px;margin: auto;background-color: gray;  border: 1px;}
.header nav main aside footer{padding: 20px;margin: auto;background-color: gray;  border: 1px;}
.main-site{display: flex;flex-direction: row;}
@media only screen and (max-width:768px) {/*This CSS will apply when the screen width is 768px or less*/} .main-site{display: flex;flex-direction: column;}
.main-site2{display: flex;flex-direction: row;}
@media only screen and (max-width:768px) {/*This CSS will apply when the screen width is 768px or less*/} .main-site2{display: flex;flex-direction: column;}
.body2{background-color: lightgrey; font-family: Arial, Helvetica, sans-serif;}